nav
    .container
        .logo-container
            h1 TiVi
            h6 Ticket Viewer

        .profile-container
            .profile-icon 
                img(src="png/profile-icon.png", alt="")
            .drop-down
                div
                    strong Name:
                    span Bac Dam
                div
                    strong Email:
                    span bacdam91@hotmail.com 
                div 
                    strong Mobile:
                    span 0401 962 159
                div 
                    strong Github: 
                    span https://github.com/bacdam91