doctype html
html 
    head 
        title
        link(rel="stylesheet", href="css/main.css", type="text/css")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js")
        //script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
    body 
        nav 
        main 
            .container(ng-app="ticketViewerApp")
                .ui-container(ng-controller="ticketViewerController") 
                    .tickets-list-container 
                        .loading-spinner-container(ng-if="listData")
                            .spinner
                        .filter-container 
                            .btn-container 
                                button.page-toggle-btn.btn-nav__prev(ng-click="getPrevPage()") Prev
                                button.page-toggle-btn.btn-nav__next(ng-click="getNextPage()") Next
                        ul.tickets-list
                            li.ticket-item(ng-repeat="tix in tickets", ng-click="getTicketInfo()")
                                .priority-indicator.priority__urgent
                                .ticket-id-container
                                    .ticket-id {{tix.id}}
                                span.vertical-rule
                                .ticket-subject-container
                                    .ticket-subject {{tix.subject}}
                                .ticket-date-container
                                    .ticket-date {{tix.created_at | date : "dd/MM/yy"}}
                                    .ticket-created-at {{tix.created_at | date : "hh:mm a"}}
                    .ticket-viewer-container
                        .loading-spinner-container(ng-if="ticketData")
                            .spinner
                        .ticket-viewer(ng-model="fetchedTicket")
                            .ticket-toolbar
                                .ticket-panels-container
                                    .ticket-panel
                                        .ticket-panel__header
                                            h4 TICKET DETAILS
                                        .ticket-panel__body
                                            .ticket-panel-field 
                                                strong ID: 
                                                span {{fetchedTicket.id}}
                                            .ticket-panel-field 
                                                strong Status: 
                                                span {{fetchedTicket.status}}
                                            .ticket-panel-field 
                                                strong Priority: 
                                                span {{fetchedTicket.priority | customFilter}}
                                            .ticket-panel-field 
                                                strong Type: 
                                                span {{fetchedTicket.type | customFilter}}
                                    .ticket-panel
                                        .ticket-panel__header
                                            h4 TAGS
                                        ul.ticket-panel__body.tag-container
                                            li.tag-item(ng-repeat="tag in fetchedTicket.tags") {{tag}}
                                .ticket-btn-container 
                                    button.close-ticket-btn(ng-click="closeTicket()") Close Ticket
                            .ticket-main-view
                                .ticket-main__header.ticket-main-container
                                    div.wrapper 
                                        h2.ticket-main__subject Subject: 
                                            span {{fetchedTicket.subject}}
                                        .ticket-main__requester Requested by: 
                                            span {{fetchedTicket.requester_id}} 
                                        .ticket-main__created-at 
                                            em Created at: 
                                                span {{fetchedTicket.created_at | date : "dd/MM/yy hh:mm a"}}
                                .ticket-main__body.ticket-main-container
                                    div.wrapper
                                        .ticket-description-container 
                                            .ticket-description 
                                                p {{fetchedTicket.description}} 
                                            .ticket-updated-at
                                                em 
                                                    span Updated at: 
                                                    span {{fetchedTicket.updated_at | date : "dd/MM/yy hh:mm a"}}
                                
        script(src="js/main.js")
