

doctype html
html 
    head 
        title= title
        link(rel="stylesheet", href="css/main.css")
        script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
    body 
        nav.top-nav
        main
            include ./includes/side_toolbar.pug
            include ./includes/ticket_panel.pug
            include ./includes/ticket_details_panel.pug
            include ./includes/ticket_viewer.pug
        script(src="js/main.js")
