doctype html
html 
    head 
        title Zendesk - Intern Coding Challenge 2019
        link(rel="stylesheet", href="css/main.css", type="text/css")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js")
        //script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
    body(ng-app="ticketViewerApp")
        include includes/navbar.pug
        main 
            .container
                .ui-container(ng-controller="ticketViewerController") 
                    include includes/tickets_list_container.pug
                    include includes/ticket_viewer_container.pug           
        script(src="js/main.js")
