mixin ticketItem(ticketData)
    .ticket-item
        if ticketData.priority == "urgent"
            .ticket-priority.ticket-priority__urgent
        else if ticketData.priority == "high"
            .ticket-priority.ticket-priority__high
        else if ticketData.priority == "normal"
            .ticket-priority.ticket-priority__normal 
        else if ticketData.priority == "low"
            .ticket-priority.ticket-priority__low
        else
            .ticket-priority.ticket-priority__null
        .ticket-id= ticketData.id
        .ticket-subject= ticketData.subject
        .ticket.created_at= ticketData.created_at
